/*------------ Module 3 Custom Css File ---------------*/
body{
	font-size: 16px;
	color: #fff;
	background-color: #484043;
	font-family: 'Encode Sans Condensed', sans-serif;
}

h2{
	margin-bottom: 20px;
	margin-top: 0px;
	font-family: 'Galada', cursive;
}

h3{
	padding-top: 10px;
	font-family: 'Galada', cursive;
}

p{
	padding: 5px 20px 20px 20px;
}

.colpadding{
	padding:10px;
	
}

.mainbg{
	background-color: #6E6568;
}



/** HEADER **/
#header-nav{
	background-color: #fff;
	border-radius: 0;
	border: 0;
}

.navbar-brand{
	padding-top: 25px;
	padding-bottom: 55px;
}

.navbar-brand h1 {
	color:#D23641;
	font-size: 2.2em;
	margin-top: 0;
	margin-bottom: 0; 
	line-height: 0.8;
	font-family: 'Galada', cursive;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

/********** Extra small devices only **********/
@media (max-width: 767px){
#mynavbar {
	background-color:  #f5e7ce;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
	background-color: #f7bd52;
	color:white;
}



}