/*------------ Module 3 Custom Css File ---------------*/
body{
	font-size: 16px;
	color: #ffffff;
	background-color: green;
	font-family: Arial, Helvetica, sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}