/*------------ Module 3 Custom Css File ---------------*/
body{
	font-size: 16px;
	color: #ffffff;
	background-color: #f4eee1;
	font-family: Arial, Helvetica, sans-serif;
}

/** HEADER **/
#header-nav{
	background-color: #E4DAC2;
	border-radius: 0;
	border: 0;
}